{
  "openapi": "3.1.0",
  "info": {
    "title": "Blitz API Reference",
    "version": "2.0.0",
    "description": "Welcome to the Blitz API Reference.\n\nUse this interactive documentation to explore and test every v2 endpoint. Authentication is required via the `x-api-key` header.\n\n**Base URL**: `https://api.blitz-api.ai`\n\n**Rate limit**: 5 requests per second (all plans).\n\n**Pricing**: All endpoints are unlimited on paid plans ($399+/mo). Free trial accounts receive 1,000 credits."
  },
  "servers": [
    {
      "url": "https://api.blitz-api.ai",
      "description": "Production server"
    }
  ],
  "components": {
    "securitySchemes": {
      "APIKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Blitz API Key. Get one from https://app.blitz-api.ai"
      }
    },
    "schemas": {},
    "parameters": {}
  },
  "tags": [
    {
      "name": "Account",
      "description": "API key info and health check."
    },
    {
      "name": "Waterfall ICP Search",
      "description": "Priority-based cascade search — find the best-match contact at a company."
    },
    {
      "name": "Employee Finder",
      "description": "Browse all employees at a single company with filters."
    },
    {
      "name": "Company Search",
      "description": "Search companies by industry, size, location, and keywords."
    },
    {
      "name": "People Enrichment",
      "description": "Enrich contacts with verified emails, phones, and reverse lookups."
    },
    {
      "name": "Company Enrichment",
      "description": "Enrich companies and resolve domain ↔ LinkedIn URL."
    },
    {
      "name": "Utilities",
      "description": "Helper endpoints (current date/time)."
    }
  ],
  "paths": {
    "/v2/account/key-info": {
      "get": {
        "summary": "Get API Key Details",
        "description": "Check API key validity, remaining credits, rate limit, allowed endpoints, and active subscription plans.\n\nUse this as a health check before running batch jobs.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "valid": true,
                    "id": "XXX",
                    "remaining_credits": 99.5,
                    "next_reset_at": "2026-02-12T17:48:25.199Z",
                    "max_requests_per_seconds": 5,
                    "allowed_apis": [
                      "/search/waterfall-icp-keyword",
                      "/enrichment/email_domain",
                      "/enrichment/email"
                    ],
                    "active_plans": [
                      {
                        "name": "Startup Trial",
                        "status": "active",
                        "started_at": "2026-01-12T17:48:25.200Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Missing API key, please provide a valid API key in the 'x-api-key' header"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "API Key not found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/waterfall-icp-keyword": {
      "post": {
        "tags": [
          "People Search"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "summary": "Waterfall ICP Search",
        "description": "Find the best decision-maker at a target company using a prioritized cascade hierarchy. The engine tries each tier in order and stops as soon as `max_results` is reached.\n\n**Response**: Person data is nested inside `results[].person` (unlike Employee Finder which return it directly).\n\n`icp` = cascade tier matched (1 = highest priority). `ranking` = overall relevance in company (1 = most relevant).\n\n**Latency**: < 600ms.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "company_linkedin_url",
                  "cascade"
                ],
                "properties": {
                  "company_linkedin_url": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://www.linkedin.com/company/openai"
                  },
                  "cascade": {
                    "type": "array",
                    "description": "Ordered list of search tiers. Each tier is attempted in sequence; the next is used only if the previous yields no results.",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": [
                        "include_title",
                        "location",
                        "include_headline_search"
                      ],
                      "properties": {
                        "include_title": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Job title keywords that contacts must match.",
                          "example": [
                            "Marketing Director",
                            "Head Marketing",
                            "Chief Marketing Officer"
                          ]
                        },
                        "exclude_title": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Job title keywords that disqualify a contact.",
                          "example": [
                            "assistant",
                            "intern",
                            "junior"
                          ]
                        },
                        "location": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Geographic filter. Use 'WORLD' for no restriction.",
                          "example": [
                            "WORLD"
                          ]
                        },
                        "include_headline_search": {
                          "type": "boolean",
                          "description": "When true, also searches LinkedIn headline text in addition to job title.",
                          "example": false
                        }
                      }
                    }
                  },
                  "max_results": {
                    "type": "number",
                    "description": "Maximum number of results to return.",
                    "example": 10
                  }
                }
              },
              "example": {
                "company_linkedin_url": "https://www.linkedin.com/company/openai",
                "cascade": [
                  {
                    "include_title": [
                      "Marketing Director",
                      "Head Marketing",
                      "Chief Marketing Officer"
                    ],
                    "exclude_title": [
                      "assistant",
                      "intern",
                      "product",
                      "junior"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "Marketing Manager",
                      "Head Growth",
                      "Growth manager"
                    ],
                    "exclude_title": [
                      "junior",
                      "assistant",
                      "intern",
                      "hacker"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "Communication Director",
                      "Brand Director",
                      "Content Director"
                    ],
                    "exclude_title": [
                      "junior",
                      "assistant",
                      "intern",
                      "UX",
                      "UI",
                      "Design"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "Communication Manager",
                      "Brand Manager",
                      "Content Manager"
                    ],
                    "exclude_title": [
                      "junior",
                      "assistant",
                      "intern"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": false
                  },
                  {
                    "include_title": [
                      "Communication",
                      "marketing",
                      "growth",
                      "brand"
                    ],
                    "exclude_title": [
                      "junior",
                      "assistant",
                      "intern",
                      "product"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": true
                  },
                  {
                    "include_title": [
                      "CEO",
                      "founder",
                      "cofounder",
                      "owner",
                      "General Director"
                    ],
                    "exclude_title": [
                      "junior",
                      "assistant",
                      "intern"
                    ],
                    "location": [
                      "WORLD"
                    ],
                    "include_headline_search": false
                  }
                ],
                "max_results": 10
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "company_linkedin_url": {
                      "type": "string"
                    },
                    "max_results": {
                      "type": "number"
                    },
                    "results_length": {
                      "type": "number"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "icp": {
                            "type": "number",
                            "description": "Index (1-based) of the cascade tier that matched this result."
                          },
                          "ranking": {
                            "type": "number",
                            "description": "Overall rank of this result across all tiers."
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "first_name": {
                                "type": "string"
                              },
                              "last_name": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string",
                                "nullable": true
                              },
                              "civility_title": {
                                "type": "string",
                                "nullable": true
                              },
                              "headline": {
                                "type": "string",
                                "nullable": true
                              },
                              "about_me": {
                                "type": "string",
                                "nullable": true
                              },
                              "location": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "state_code": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "country_code": {
                                    "type": "string",
                                    "nullable": true
                                  },
                                  "continent": {
                                    "type": "string",
                                    "nullable": true
                                  }
                                }
                              },
                              "linkedin_url": {
                                "type": "string"
                              },
                              "connections_count": {
                                "type": "number"
                              },
                              "profile_picture_url": {
                                "type": "string",
                                "nullable": true
                              },
                              "experiences": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "job_title": {
                                      "type": "string"
                                    },
                                    "company_linkedin_url": {
                                      "type": "string"
                                    },
                                    "company_linkedin_id": {
                                      "type": "string"
                                    },
                                    "job_description": {
                                      "type": "string",
                                      "nullable": true
                                    },
                                    "job_start_date": {
                                      "type": "string",
                                      "format": "date",
                                      "nullable": true
                                    },
                                    "job_end_date": {
                                      "type": "string",
                                      "format": "date",
                                      "nullable": true
                                    },
                                    "job_is_current": {
                                      "type": "boolean"
                                    },
                                    "job_location": {
                                      "type": "object",
                                      "properties": {
                                        "city": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "state_code": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "country_code": {
                                          "type": "string",
                                          "nullable": true
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "education": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "degree": {
                                      "type": "string"
                                    },
                                    "start_date": {
                                      "type": "string",
                                      "format": "date",
                                      "nullable": true
                                    },
                                    "end_date": {
                                      "type": "string",
                                      "format": "date",
                                      "nullable": true
                                    }
                                  }
                                }
                              },
                              "skills": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "certifications": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "authority": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "url": {
                                      "type": "string",
                                      "nullable": true
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "company_linkedin_url": "https://www.linkedin.com/company/openai",
                  "max_results": 3,
                  "results_length": 3,
                  "results": [
                    {
                      "icp": 2,
                      "ranking": 1,
                      "person": {
                        "first_name": "Gio",
                        "last_name": "Santiago",
                        "full_name": "Gio Santiago",
                        "nickname": null,
                        "civility_title": null,
                        "headline": "Events @ OpenAI | Experiential Marketing | Ex-Condé Nast | Digital Content Strategist | Fulbright Alumni",
                        "about_me": "Passionate, hands on, and innovation-centered events and digital media creative with 8+…",
                        "location": {
                          "city": "New York",
                          "state_code": "NY",
                          "country_code": "US",
                          "continent": "North America"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/gio-santiago",
                        "connections_count": 500,
                        "profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                        "experiences": [
                          {
                            "job_title": "Comms Events, Associate Events Manager, Gtm B2b Marketing",
                            "company_linkedin_url": "https://www.linkedin.com/company/openai",
                            "company_linkedin_id": "c51425c5-1b38-578d-a700-c5ca850261ae",
                            "job_description": "I am currently working as an associate event manager at OpenAI on the comms events team, producing marketing and GTM tentpoles across the US, EMEA, and APAC.",
                            "job_start_date": "2025-05-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": "New York",
                              "state_code": "NY",
                              "country_code": "US"
                            }
                          }
                        ],
                        "education": [],
                        "skills": [
                          "research",
                          "ecology",
                          "editing",
                          "environmental science",
                          "environmental education",
                          "environmental awareness",
                          "public speaking",
                          "organizational leadership",
                          "nonprofits",
                          "community outreach",
                          "management",
                          "volunteer management"
                        ],
                        "certifications": [
                          {
                            "authority": "Acumen, LLC",
                            "name": "Adaptive Leadership Certification"
                          },
                          {
                            "authority": "PADI",
                            "name": "PADI Advanced Open Water Scuba Diver"
                          }
                        ]
                      }
                    },
                    {
                      "icp": 2,
                      "ranking": 2,
                      "person": {
                        "first_name": "Alison",
                        "last_name": "Harmon",
                        "full_name": "Alison Harmon",
                        "nickname": null,
                        "civility_title": null,
                        "headline": null,
                        "about_me": null,
                        "location": {
                          "city": "San Francisco",
                          "state_code": "CA",
                          "country_code": "US",
                          "continent": "North America"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/alisonharmon",
                        "connections_count": 500,
                        "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5603AQHDyMfUDPEWvQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1630362000214",
                        "experiences": [
                          {
                            "job_title": "Head of Growth",
                            "company_linkedin_url": "https://www.linkedin.com/company/openai",
                            "company_linkedin_id": "c51425c5-1b38-578d-a700-c5ca850261ae",
                            "job_description": null,
                            "job_start_date": "2023-09-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": null,
                              "state_code": null,
                              "country_code": null
                            }
                          }
                        ],
                        "education": [],
                        "skills": [
                          "matlab",
                          "crystal healing",
                          "apis",
                          "goats",
                          "mathematica",
                          "r",
                          "microsoft word",
                          "microsoft office",
                          "weapons handling",
                          "statistics",
                          "calculus",
                          "mathematical modeling",
                          "astrophysics",
                          "desk",
                          "mathematical analysis",
                          "science",
                          "astrology",
                          "asana",
                          "linear algebra",
                          "lead generation",
                          "mathematics",
                          "physics",
                          "python"
                        ],
                        "certifications": []
                      }
                    },
                    {
                      "icp": 2,
                      "ranking": 3,
                      "person": {
                        "first_name": "Pearl",
                        "last_name": "Aguilar",
                        "full_name": "Pearl Aguilar",
                        "nickname": null,
                        "civility_title": null,
                        "headline": "Senior Digital Marketing Manager at OpenAI",
                        "about_me": "With a proven track record in the digital marketing landscape, I specialize in driving…",
                        "location": {
                          "city": null,
                          "state_code": null,
                          "country_code": "GB",
                          "continent": "Europe"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/pearl-aguilar-76b9b5208",
                        "connections_count": 500,
                        "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5603AQGbgR8KVYAKrw/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1643629859057",
                        "experiences": [
                          {
                            "job_title": "Digital Marketing Manager",
                            "company_linkedin_url": "https://www.linkedin.com/company/openai",
                            "company_linkedin_id": "c51425c5-1b38-578d-a700-c5ca850261ae",
                            "job_description": null,
                            "job_start_date": "2024-06-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": "London",
                              "state_code": null,
                              "country_code": "GB"
                            }
                          }
                        ],
                        "education": [
                          {
                            "degree": "Bachelor of Engineering - BE"
                          }
                        ],
                        "skills": [],
                        "certifications": []
                      }
                    }
                  ]
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Insufficient credits balance"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "INVALID_INPUT",
                      "message": "Missing required fields"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/employee-finder": {
      "post": {
        "tags": [
          "People Search"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "summary": "Employee Finder",
        "description": "Search all employees at a single company by job level, department, location, and seniority.\n\n**Pagination**: Page-based. Increment `page` until `page > total_pages`.\n\n**Response**: Person data is returned directly in `results[]` (not nested in `.person`).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company_linkedin_url": {
                    "type": "string",
                    "example": "https://www.linkedin.com/company/openai"
                  },
                  "country_code": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "US",
                      "FR"
                    ]
                  },
                  "continent": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Africa",
                      "Antarctica",
                      "Asia",
                      "Europe",
                      "North America",
                      "Oceania",
                      "South America"
                    ]
                  },
                  "sales_region": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "NORAM",
                      "LATAM",
                      "EMEA",
                      "APAC"
                    ]
                  },
                  "job_level": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "C-Team",
                      "Director",
                      "Manager",
                      "Other",
                      "Staff",
                      "VP"
                    ]
                  },
                  "job_function": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Advertising & Marketing",
                      "Art, Culture and Creative Professionals",
                      "Construction",
                      "Customer/Client Service",
                      "Education",
                      "Engineering",
                      "Finance & Accounting",
                      "General Business & Management",
                      "Healthcare & Human Services",
                      "Human Resources",
                      "Information Technology",
                      "Legal",
                      "Manufacturing & Production",
                      "Operations",
                      "Other",
                      "Public Administration & Safety",
                      "Purchasing",
                      "Research & Development",
                      "Sales & Business Development",
                      "Science",
                      "Supply Chain & Logistics",
                      "Writing/Editing"
                    ]
                  },
                  "min_connections_count": {
                    "type": "number",
                    "example": 200,
                    "minimum": 0,
                    "maximum": 500
                  },
                  "max_results": {
                    "type": "number",
                    "example": 3
                  },
                  "page": {
                    "type": "number",
                    "example": 1
                  }
                },
                "required": [
                  "company_linkedin_url"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "company_linkedin_url": "https://www.linkedin.com/company/openai",
                    "max_results": 3,
                    "results_length": 3,
                    "page": 1,
                    "total_pages": 1285,
                    "results": [
                      {
                        "first_name": "Eric",
                        "last_name": "Mitchell",
                        "full_name": "Eric Mitchell",
                        "nickname": null,
                        "civility_title": null,
                        "headline": null,
                        "about_me": "I co-lead (with Yann Dubois) the Post-training Frontiers team within Post-training at…",
                        "location": {
                          "city": null,
                          "state_code": null,
                          "country_code": "US",
                          "continent": "North America"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/ericanthonymitchell",
                        "connections_count": 200,
                        "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5603AQF16tMUIXcPiA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517601421714",
                        "experiences": [
                          {
                            "job_title": null,
                            "company_linkedin_url": "https://www.linkedin.com/company/openai",
                            "company_linkedin_id": "c51425c5-1b38-578d-a700-c5ca850261ae",
                            "job_description": null,
                            "job_start_date": null,
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": null,
                              "state_code": null,
                              "country_code": null
                            }
                          }
                        ],
                        "education": [],
                        "skills": [
                          "java",
                          "agile methodologies",
                          "objective-c",
                          "json",
                          "mobile applications",
                          "english",
                          "software development",
                          "python",
                          "customer service",
                          "c",
                          "ios development",
                          "scikit-learn",
                          "xcode"
                        ],
                        "certifications": []
                      },
                      {
                        "first_name": "Alex",
                        "last_name": "Barron",
                        "full_name": "Alex Barron",
                        "nickname": null,
                        "civility_title": null,
                        "headline": "ML",
                        "about_me": null,
                        "location": {
                          "city": "San Francisco",
                          "state_code": "CA",
                          "country_code": "US",
                          "continent": "North America"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/alexbarron1",
                        "connections_count": 200,
                        "profile_picture_url": "https://media.licdn.com/dms/image/v2/C5603AQHFO6JpxyUwBQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1517005697979",
                        "experiences": [
                          {
                            "job_title": "Member of Technical Staff",
                            "company_linkedin_url": "https://www.linkedin.com/company/openai",
                            "company_linkedin_id": "c51425c5-1b38-578d-a700-c5ca850261ae",
                            "job_description": null,
                            "job_start_date": "2025-04-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": "San Francisco",
                              "state_code": "CA",
                              "country_code": "US"
                            }
                          }
                        ],
                        "education": [
                          {
                            "degree": "Bachelor of Science (BS)",
                            "start_date": "2013-01-01",
                            "end_date": "2017-01-01"
                          },
                          {
                            "degree": "Master of Science (MS)",
                            "start_date": "2016-01-01",
                            "end_date": "2017-01-01"
                          }
                        ],
                        "skills": [
                          "microsoft office",
                          "python",
                          "c++",
                          "objective-c",
                          "c",
                          "javascript",
                          "swift",
                          "java"
                        ],
                        "certifications": []
                      },
                      {
                        "first_name": "Shane",
                        "last_name": "Copenhagen",
                        "full_name": "Shane Copenhagen",
                        "nickname": null,
                        "civility_title": null,
                        "headline": "Robotics Software Engineer",
                        "about_me": "A Robotics Software Engineer with a BS in CS+Robotics from Colorado School of Mines. My…",
                        "location": {
                          "city": "Golden",
                          "state_code": "CO",
                          "country_code": "US",
                          "continent": "North America"
                        },
                        "linkedin_url": "https://www.linkedin.com/in/shane-copenhagen",
                        "connections_count": 200,
                        "profile_picture_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                        "experiences": [
                          {
                            "job_title": "Independent Contractor",
                            "company_linkedin_url": "https://www.linkedin.com/company/openai",
                            "company_linkedin_id": "c51425c5-1b38-578d-a700-c5ca850261ae",
                            "job_description": "Building AI-enabled tools and bots for the OpenAI Community.",
                            "job_start_date": "2023-02-01",
                            "job_end_date": null,
                            "job_is_current": true,
                            "job_location": {
                              "city": null,
                              "state_code": null,
                              "country_code": null
                            }
                          }
                        ],
                        "education": [],
                        "skills": [
                          "javascript",
                          "computers",
                          "public speaking",
                          "banking",
                          "html5",
                          "database design",
                          "insurance",
                          "life insurance",
                          "spanish-english",
                          "java",
                          "css3"
                        ],
                        "certifications": []
                      }
                    ]
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "message": "Insufficient credits balance"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "error": {
                      "code": "INVALID_INPUT",
                      "message": "Missing required fields"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "success": false,
                    "message": "this is a controlled error. created at 2025-07-11T10:20:00.000Z"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/search/companies": {
      "post": {
        "summary": "Company Search",
        "description": "Find companies matching ICP criteria (industry, size, location, keywords). Returns company profiles with LinkedIn URLs for downstream enrichment.\n\n**Pagination**: Cursor-based. Pass the `cursor` from the response to get the next page. `cursor: null` = first page.\n\n**Filter logic**: All filters combine with AND. Multiple values within a filter use OR.",
        "tags": [
          "Company Search"
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "company": {
                    "description": "Company search criteria",
                    "type": "object",
                    "properties": {
                      "name": {
                        "description": "Keywords searched in the company name",
                        "type": "object",
                        "properties": {
                          "include": {
                            "default": [],
                            "examples": [
                              []
                            ],
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "exclude": {
                            "default": [],
                            "examples": [
                              []
                            ],
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "industry": {
                        "description": "Exact matches for the industry search",
                        "type": "object",
                        "properties": {
                          "include": {
                            "default": [],
                            "examples": [
                              [
                                "IT Services and IT Consulting"
                              ]
                            ],
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "Abrasives and Nonmetallic Minerals Manufacturing",
                                "Accessible Architecture and Design",
                                "Accessible Hardware Manufacturing",
                                "Accommodation and Food Services",
                                "Accounting",
                                "Administration of Justice",
                                "Administrative and Support Services",
                                "Advertising Services",
                                "Agricultural Chemical Manufacturing",
                                "Agriculture; Construction; Mining Machinery Manufacturing",
                                "Airlines and Aviation",
                                "Airlines/Aviation",
                                "Air; Water; and Waste Program Management",
                                "Alternative Dispute Resolution",
                                "Alternative Fuel Vehicle Manufacturing",
                                "Alternative Medicine",
                                "Ambulance Services",
                                "Amusement Parks and Arcades",
                                "Animal Feed Manufacturing",
                                "Animation",
                                "Animation and Post-production",
                                "Apparel and Fashion",
                                "Apparel Manufacturing",
                                "Appliances; Electrical; and Electronics Manufacturing",
                                "Architectural and Structural Metal Manufacturing",
                                "Architecture and Planning",
                                "Armed Forces",
                                "Artificial Rubber and Synthetic Fiber Manufacturing",
                                "Artists and Writers",
                                "Arts and Crafts",
                                "Audio and Video Equipment Manufacturing",
                                "Automation Machinery Manufacturing",
                                "Automotive",
                                "Aviation and Aerospace",
                                "Aviation and Aerospace Component Manufacturing",
                                "Baked Goods Manufacturing",
                                "Banking",
                                "Bars; Taverns; and Nightclubs",
                                "Bed-and-Breakfasts; Hostels; Homestays",
                                "Beverage Manufacturing",
                                "Biomass Electric Power Generation",
                                "Biotechnology",
                                "Biotechnology Research",
                                "Blockchain Services",
                                "Blogs",
                                "Boilers; Tanks; and Shipping Container Manufacturing",
                                "Book and Periodical Publishing",
                                "Book Publishing",
                                "Breweries",
                                "Broadcast Media",
                                "Broadcast Media Production and Distribution",
                                "Building Construction",
                                "Building Equipment Contractors",
                                "Building Finishing Contractors",
                                "Building Materials",
                                "Building Structure and Exterior Contractors",
                                "Business Consulting and Services",
                                "Business Content",
                                "Business Intelligence Platforms",
                                "Business Supplies and Equipment",
                                "Cable and Satellite Programming",
                                "Capital Markets",
                                "Caterers",
                                "Chemical Manufacturing",
                                "Chemical Raw Materials Manufacturing",
                                "Chemicals",
                                "Child Day Care Services",
                                "Chiropractors",
                                "Circuses and Magic Shows",
                                "Civic and Social Organization",
                                "Civic and Social Organizations",
                                "Civil Engineering",
                                "Claims Adjusting; Actuarial Services",
                                "Clay and Refractory Products Manufacturing",
                                "Climate Data and Analytics",
                                "Climate Technology Product Manufacturing",
                                "Coal Mining",
                                "Collection Agencies",
                                "Commercial and Industrial Equipment Rental",
                                "Commercial and Industrial Machinery Maintenance",
                                "Commercial and Service Industry Machinery Manufacturing",
                                "Commercial Real Estate",
                                "Communications Equipment Manufacturing",
                                "Community Development and Urban Planning",
                                "Community Services",
                                "Computer and Network Security",
                                "Computer Games",
                                "Computer Hardware",
                                "Computer Hardware Manufacturing",
                                "Computer Networking",
                                "Computer Networking Products",
                                "Computers and Electronics Manufacturing",
                                "Computer Software",
                                "Conservation Programs",
                                "Construction",
                                "Construction Hardware Manufacturing",
                                "Consumer Electronics",
                                "Consumer Goods",
                                "Consumer Goods Rental",
                                "Consumer Services",
                                "Correctional Institutions",
                                "Cosmetics",
                                "Cosmetology and Barber Schools",
                                "Courts of Law",
                                "Credit Intermediation",
                                "Cutlery and Handtool Manufacturing",
                                "Dairy",
                                "Dairy Product Manufacturing",
                                "Dance Companies",
                                "Data Infrastructure and Analytics",
                                "Data Security Software Products",
                                "Death Care Services",
                                "Defense and Space",
                                "Defense and Space Manufacturing",
                                "Dentists",
                                "Design",
                                "Design Services",
                                "Desktop Computing Software Products",
                                "Digital Accessibility Services",
                                "Distilleries",
                                "Economic Programs",
                                "Education",
                                "Education Administration Programs",
                                "Education Management",
                                "E-learning",
                                "E-Learning Providers",
                                "Electrical and Electronic Manufacturing",
                                "Electrical Equipment Manufacturing",
                                "Electric Lighting Equipment Manufacturing",
                                "Electric Power Generation",
                                "Electric Power Transmission; Control; and Distribution",
                                "Electronic and Precision Equipment Maintenance",
                                "Embedded Software Products",
                                "Emergency and Relief Services",
                                "Energy Technology",
                                "Engineering Services",
                                "Engines and Power Transmission Equipment Manufacturing",
                                "Entertainment",
                                "Entertainment Providers",
                                "Environmental Quality Programs",
                                "Environmental Services",
                                "Equipment Rental Services",
                                "Events Services",
                                "Executive Office",
                                "Executive Offices",
                                "Executive Search Services",
                                "Fabricated Metal Products",
                                "Facilities Services",
                                "Family Planning Centers",
                                "Farming",
                                "Farming; Ranching; Forestry",
                                "Fashion Accessories Manufacturing",
                                "Financial Services",
                                "Fine Art",
                                "Fine Arts Schools",
                                "Fire Protection",
                                "Fisheries",
                                "Fishery",
                                "Flight Training",
                                "Food and Beverage Manufacturing",
                                "Food and Beverage Retail",
                                "Food and Beverages",
                                "Food and Beverage Services",
                                "Food Production",
                                "Footwear and Leather Goods Repair",
                                "Footwear Manufacturing",
                                "Forestry and Logging",
                                "Fossil Fuel Electric Power Generation",
                                "Freight and Package Transportation",
                                "Fruit and Vegetable Preserves Manufacturing",
                                "Fuel Cell Manufacturing",
                                "Fundraising",
                                "Funds and Trusts",
                                "Funeral Services",
                                "Furniture",
                                "Furniture and Home Furnishings Manufacturing",
                                "Gambling and Casinos",
                                "Gambling Facilities and Casinos",
                                "Geothermal Electric Power Generation",
                                "Glass; Ceramics and Concrete",
                                "Glass; Ceramics and Concrete Manufacturing",
                                "Glass Product Manufacturing",
                                "Golf Courses and Country Clubs",
                                "Government Administration",
                                "Government Relations",
                                "Government Relations Services",
                                "Graphic Design",
                                "Ground Passenger Transportation",
                                "Health and Human Services",
                                "Health; Wellness and Fitness",
                                "Higher Education",
                                "Highway; Street; and Bridge Construction",
                                "Historical Sites",
                                "Holding Companies",
                                "Home Health Care Services",
                                "Horticulture",
                                "Hospital and Health Care",
                                "Hospitality",
                                "Hospitals",
                                "Hospitals and Health Care",
                                "Hotels and Motels",
                                "Household and Institutional Furniture Manufacturing",
                                "Household Appliance Manufacturing",
                                "Household Services",
                                "Housing and Community Development",
                                "Housing Programs",
                                "Human Resources",
                                "Human Resources Services",
                                "HVAC and Refrigeration Equipment Manufacturing",
                                "Hydroelectric Power Generation",
                                "Import and Export",
                                "Individual and Family Services",
                                "Industrial Automation",
                                "Industrial Machinery Manufacturing",
                                "Industry Associations",
                                "Information Services",
                                "Information Technology and Services",
                                "Insurance",
                                "Insurance Agencies and Brokerages",
                                "Insurance and Employee Benefit Funds",
                                "Insurance Carriers",
                                "Interior Design",
                                "International Affairs",
                                "International Trade and Development",
                                "Internet",
                                "Internet Marketplace Platforms",
                                "Internet News",
                                "Internet Publishing",
                                "Interurban and Rural Bus Services",
                                "Investment Advice",
                                "Investment Banking",
                                "Investment Management",
                                "IT Services and IT Consulting",
                                "IT System Custom Software Development",
                                "IT System Data Services",
                                "IT System Design Services",
                                "IT System Installation and Disposal",
                                "IT System Operations and Maintenance",
                                "IT System Testing and Evaluation",
                                "IT System Training and Support",
                                "Janitorial Services",
                                "Judiciary",
                                "Landscaping Services",
                                "Language Schools",
                                "Laundry and Drycleaning Services",
                                "Law Enforcement",
                                "Law Practice",
                                "Leasing Non-residential Real Estate",
                                "Leasing Residential Real Estate",
                                "Leather Product Manufacturing",
                                "Legal Services",
                                "Legislative Offices",
                                "Leisure; Travel and Tourism",
                                "Libraries",
                                "Lime and Gypsum Products Manufacturing",
                                "Loan Brokers",
                                "Logistics and Supply Chain",
                                "Luxury Goods and Jewelry",
                                "Machinery",
                                "Machinery Manufacturing",
                                "Magnetic and Optical Media Manufacturing",
                                "Management Consulting",
                                "Manufacturing",
                                "Maritime",
                                "Maritime Transportation",
                                "Marketing and Advertising",
                                "Marketing Services",
                                "Market Research",
                                "Mattress and Blinds Manufacturing",
                                "Measuring and Control Instrument Manufacturing",
                                "Meat Products Manufacturing",
                                "Mechanical Or Industrial Engineering",
                                "Media and Telecommunications",
                                "Media Production",
                                "Medical and Diagnostic Laboratories",
                                "Medical Device",
                                "Medical Equipment Manufacturing",
                                "Medical Practice",
                                "Medical Practices",
                                "Mental Health Care",
                                "Metal Ore Mining",
                                "Metal Treatments",
                                "Metal Valve; Ball; and Roller Manufacturing",
                                "Metalworking Machinery Manufacturing",
                                "Military",
                                "Military and International Affairs",
                                "Mining",
                                "Mining and Metals",
                                "Mobile Computing Software Products",
                                "Mobile Food Services",
                                "Mobile Games",
                                "Mobile Gaming Apps",
                                "Motion Pictures and Film",
                                "Motor Vehicle Manufacturing",
                                "Motor Vehicle Parts Manufacturing",
                                "Movies and Sound Recording",
                                "Movies; Videos; and Sound",
                                "Museums",
                                "Museums and Institutions",
                                "Museums; Historical Sites; and Zoos",
                                "Music",
                                "Musicians",
                                "Nanotechnology",
                                "Nanotechnology Research",
                                "Natural Gas Distribution",
                                "Natural Gas Extraction",
                                "Newspaper Publishing",
                                "Newspapers",
                                "Nonmetallic Mineral Mining",
                                "Non-profit Organization Management",
                                "Non-profit Organizations",
                                "Nonresidential Building Construction",
                                "Nuclear Electric Power Generation",
                                "Nursing Homes and Residential Care Facilities",
                                "Office Administration",
                                "Office Furniture and Fixtures Manufacturing",
                                "Oil and Coal Product Manufacturing",
                                "Oil and Energy",
                                "Oil and Gas",
                                "Oil Extraction",
                                "Oil; Gas; and Mining",
                                "Online and Mail Order Retail",
                                "Online Audio and Video Media",
                                "Online Media",
                                "Operations Consulting",
                                "Optometrists",
                                "Other",
                                "Outpatient Care Centers",
                                "Outsourcing and Offshoring Consulting",
                                "Outsourcing/Offshoring",
                                "Package/Freight Delivery",
                                "Packaging and Containers",
                                "Packaging and Containers Manufacturing",
                                "Paint; Coating; and Adhesive Manufacturing",
                                "Paper and Forest Product Manufacturing",
                                "Paper and Forest Products",
                                "Parts Distribution",
                                "Pension Funds",
                                "Performing Arts",
                                "Performing Arts and Spectator Sports",
                                "Periodical Publishing",
                                "Personal and Laundry Services",
                                "Personal Care Product Manufacturing",
                                "Personal Care Services",
                                "Pet Services",
                                "Pharmaceutical Manufacturing",
                                "Pharmaceuticals",
                                "Philanthropic Fundraising Services",
                                "Philanthropy",
                                "Photography",
                                "Physical; Occupational and Speech Therapists",
                                "Physicians",
                                "Pipeline Transportation",
                                "Plastics",
                                "Plastics and Rubber Product Manufacturing",
                                "Plastics Manufacturing",
                                "Political Organization",
                                "Political Organizations",
                                "Postal Services",
                                "Primary and Secondary Education",
                                "Primary Metal Manufacturing",
                                "Primary/Secondary Education",
                                "Printing",
                                "Printing Services",
                                "Professional Organizations",
                                "Professional Services",
                                "Professional Training and Coaching",
                                "Program Development",
                                "Public Assistance Programs",
                                "Public Health",
                                "Public Policy",
                                "Public Policy Offices",
                                "Public Relations and Communications",
                                "Public Relations and Communications Services",
                                "Public Safety",
                                "Public Works",
                                "Publishing",
                                "Racetracks",
                                "Radio and Television Broadcasting",
                                "Railroad Equipment Manufacturing",
                                "Railroad Manufacture",
                                "Rail Transportation",
                                "Ranching",
                                "Ranching and Fisheries",
                                "Real Estate",
                                "Real Estate Agents and Brokers",
                                "Real Estate and Equipment Rental Services",
                                "Recreational Facilities",
                                "Recreational Facilities and Services",
                                "Regenerative Design",
                                "Religious Institutions",
                                "Renewable Energy Equipment Manufacturing",
                                "Renewable Energy Power Generation",
                                "Renewable Energy Semiconductor Manufacturing",
                                "Renewables and Environment",
                                "Repair and Maintenance",
                                "Research",
                                "Research Services",
                                "Residential Building Construction",
                                "Restaurants",
                                "Retail",
                                "Retail Apparel and Fashion",
                                "Retail Appliances; Electrical; and Electronic Equipment",
                                "Retail Art Dealers",
                                "Retail Art Supplies",
                                "Retail Books and Printed News",
                                "Retail Building Materials and Garden Equipment",
                                "Retail Florists",
                                "Retail Furniture and Home Furnishings",
                                "Retail Gasoline",
                                "Retail Groceries",
                                "Retail Health and Personal Care Products",
                                "Retail Luxury Goods and Jewelry",
                                "Retail Motor Vehicles",
                                "Retail Musical Instruments",
                                "Retail Office Equipment",
                                "Retail Office Supplies and Gifts",
                                "Retail Pharmacies",
                                "Retail Recyclable Materials and Used Merchandise",
                                "Reupholstery and Furniture Repair",
                                "Robotics Engineering",
                                "Robot Manufacturing",
                                "Rubber Products Manufacturing",
                                "Satellite Telecommunications",
                                "Savings Institutions",
                                "School and Employee Bus Services",
                                "Seafood Product Manufacturing",
                                "Secretarial Schools",
                                "Securities and Commodity Exchanges",
                                "Security and Investigations",
                                "Security Guards and Patrol Services",
                                "Security Systems Services",
                                "Semiconductor Manufacturing",
                                "Semiconductors",
                                "Services for Renewable Energy",
                                "Services for the Elderly and Disabled",
                                "Sheet Music Publishing",
                                "Shipbuilding",
                                "Shuttles and Special Needs Transportation Services",
                                "Sightseeing Transportation",
                                "Skiing Facilities",
                                "Smart Meter Manufacturing",
                                "Soap and Cleaning Product Manufacturing",
                                "Social Networking Platforms",
                                "Software Development",
                                "Solar Electric Power Generation",
                                "Sound Recording",
                                "Space Research and Technology",
                                "Specialty Trade Contractors",
                                "Spectator Sports",
                                "Sporting Goods",
                                "Sporting Goods Manufacturing",
                                "Sports",
                                "Sports and Recreation Instruction",
                                "Sports Teams and Clubs",
                                "Spring and Wire Product Manufacturing",
                                "Staffing and Recruiting",
                                "Steam and Air-Conditioning Supply",
                                "Strategic Management Services",
                                "Subdivision of Land",
                                "Sugar and Confectionery Product Manufacturing",
                                "Supermarkets",
                                "Surveying and Mapping Services",
                                "Taxi and Limousine Services",
                                "Technical and Vocational Training",
                                "Technology; Information and Internet",
                                "Technology; Information and Media",
                                "Telecommunications",
                                "Telecommunications Carriers",
                                "Telephone Call Centers",
                                "Temporary Help Services",
                                "Textile Manufacturing",
                                "Textiles",
                                "Theater Companies",
                                "Think Tanks",
                                "Tobacco",
                                "Tobacco Manufacturing",
                                "Translation and Localization",
                                "Transportation Equipment Manufacturing",
                                "Transportation; Logistics; Supply Chain and Storage",
                                "Transportation Programs",
                                "Transportation/Trucking/Railroad",
                                "Travel Arrangements",
                                "Truck Transportation",
                                "Trusts and Estates",
                                "Turned Products and Fastener Manufacturing",
                                "Urban Transit Services",
                                "Utilities",
                                "Utilities Administration",
                                "Utility System Construction",
                                "Vehicle Repair and Maintenance",
                                "Venture Capital and Private Equity",
                                "Venture Capital and Private Equity Principals",
                                "Veterinary",
                                "Veterinary Services",
                                "Vocational Rehabilitation Services",
                                "Warehousing",
                                "Warehousing and Storage",
                                "Waste Collection",
                                "Waste Treatment and Disposal",
                                "Water Supply and Irrigation Systems",
                                "Water; Waste; Steam; and Air Conditioning Services",
                                "Wellness and Fitness Services",
                                "Wholesale",
                                "Wholesale Alcoholic Beverages",
                                "Wholesale Apparel and Sewing Supplies",
                                "Wholesale Appliances; Electrical; and Electronics",
                                "Wholesale Building Materials",
                                "Wholesale Chemical and Allied Products",
                                "Wholesale Computer Equipment",
                                "Wholesale Drugs and Sundries",
                                "Wholesale Food and Beverage",
                                "Wholesale Footwear",
                                "Wholesale Furniture and Home Furnishings",
                                "Wholesale Hardware; Plumbing; Heating Equipment",
                                "Wholesale Import and Export",
                                "Wholesale Luxury Goods and Jewelry",
                                "Wholesale Machinery",
                                "Wholesale Metals and Minerals",
                                "Wholesale Motor Vehicles and Parts",
                                "Wholesale Paper Products",
                                "Wholesale Petroleum and Petroleum Products",
                                "Wholesale Photography Equipment and Supplies",
                                "Wholesale Raw Farm Products",
                                "Wholesale Recyclable Materials",
                                "Wind Electric Power Generation",
                                "Wine and Spirits",
                                "Wineries",
                                "Wireless",
                                "Wireless Services",
                                "Women\\\\'s Handbag Manufacturing",
                                "Wood Product Manufacturing",
                                "Writing and Editing",
                                "Zoos and Botanical Gardens"
                              ]
                            }
                          },
                          "exclude": {
                            "default": [],
                            "examples": [
                              []
                            ],
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "Abrasives and Nonmetallic Minerals Manufacturing",
                                "Accessible Architecture and Design",
                                "Accessible Hardware Manufacturing",
                                "Accommodation and Food Services",
                                "Accounting",
                                "Administration of Justice",
                                "Administrative and Support Services",
                                "Advertising Services",
                                "Agricultural Chemical Manufacturing",
                                "Agriculture; Construction; Mining Machinery Manufacturing",
                                "Airlines and Aviation",
                                "Airlines/Aviation",
                                "Air; Water; and Waste Program Management",
                                "Alternative Dispute Resolution",
                                "Alternative Fuel Vehicle Manufacturing",
                                "Alternative Medicine",
                                "Ambulance Services",
                                "Amusement Parks and Arcades",
                                "Animal Feed Manufacturing",
                                "Animation",
                                "Animation and Post-production",
                                "Apparel and Fashion",
                                "Apparel Manufacturing",
                                "Appliances; Electrical; and Electronics Manufacturing",
                                "Architectural and Structural Metal Manufacturing",
                                "Architecture and Planning",
                                "Armed Forces",
                                "Artificial Rubber and Synthetic Fiber Manufacturing",
                                "Artists and Writers",
                                "Arts and Crafts",
                                "Audio and Video Equipment Manufacturing",
                                "Automation Machinery Manufacturing",
                                "Automotive",
                                "Aviation and Aerospace",
                                "Aviation and Aerospace Component Manufacturing",
                                "Baked Goods Manufacturing",
                                "Banking",
                                "Bars; Taverns; and Nightclubs",
                                "Bed-and-Breakfasts; Hostels; Homestays",
                                "Beverage Manufacturing",
                                "Biomass Electric Power Generation",
                                "Biotechnology",
                                "Biotechnology Research",
                                "Blockchain Services",
                                "Blogs",
                                "Boilers; Tanks; and Shipping Container Manufacturing",
                                "Book and Periodical Publishing",
                                "Book Publishing",
                                "Breweries",
                                "Broadcast Media",
                                "Broadcast Media Production and Distribution",
                                "Building Construction",
                                "Building Equipment Contractors",
                                "Building Finishing Contractors",
                                "Building Materials",
                                "Building Structure and Exterior Contractors",
                                "Business Consulting and Services",
                                "Business Content",
                                "Business Intelligence Platforms",
                                "Business Supplies and Equipment",
                                "Cable and Satellite Programming",
                                "Capital Markets",
                                "Caterers",
                                "Chemical Manufacturing",
                                "Chemical Raw Materials Manufacturing",
                                "Chemicals",
                                "Child Day Care Services",
                                "Chiropractors",
                                "Circuses and Magic Shows",
                                "Civic and Social Organization",
                                "Civic and Social Organizations",
                                "Civil Engineering",
                                "Claims Adjusting; Actuarial Services",
                                "Clay and Refractory Products Manufacturing",
                                "Climate Data and Analytics",
                                "Climate Technology Product Manufacturing",
                                "Coal Mining",
                                "Collection Agencies",
                                "Commercial and Industrial Equipment Rental",
                                "Commercial and Industrial Machinery Maintenance",
                                "Commercial and Service Industry Machinery Manufacturing",
                                "Commercial Real Estate",
                                "Communications Equipment Manufacturing",
                                "Community Development and Urban Planning",
                                "Community Services",
                                "Computer and Network Security",
                                "Computer Games",
                                "Computer Hardware",
                                "Computer Hardware Manufacturing",
                                "Computer Networking",
                                "Computer Networking Products",
                                "Computers and Electronics Manufacturing",
                                "Computer Software",
                                "Conservation Programs",
                                "Construction",
                                "Construction Hardware Manufacturing",
                                "Consumer Electronics",
                                "Consumer Goods",
                                "Consumer Goods Rental",
                                "Consumer Services",
                                "Correctional Institutions",
                                "Cosmetics",
                                "Cosmetology and Barber Schools",
                                "Courts of Law",
                                "Credit Intermediation",
                                "Cutlery and Handtool Manufacturing",
                                "Dairy",
                                "Dairy Product Manufacturing",
                                "Dance Companies",
                                "Data Infrastructure and Analytics",
                                "Data Security Software Products",
                                "Death Care Services",
                                "Defense and Space",
                                "Defense and Space Manufacturing",
                                "Dentists",
                                "Design",
                                "Design Services",
                                "Desktop Computing Software Products",
                                "Digital Accessibility Services",
                                "Distilleries",
                                "Economic Programs",
                                "Education",
                                "Education Administration Programs",
                                "Education Management",
                                "E-learning",
                                "E-Learning Providers",
                                "Electrical and Electronic Manufacturing",
                                "Electrical Equipment Manufacturing",
                                "Electric Lighting Equipment Manufacturing",
                                "Electric Power Generation",
                                "Electric Power Transmission; Control; and Distribution",
                                "Electronic and Precision Equipment Maintenance",
                                "Embedded Software Products",
                                "Emergency and Relief Services",
                                "Energy Technology",
                                "Engineering Services",
                                "Engines and Power Transmission Equipment Manufacturing",
                                "Entertainment",
                                "Entertainment Providers",
                                "Environmental Quality Programs",
                                "Environmental Services",
                                "Equipment Rental Services",
                                "Events Services",
                                "Executive Office",
                                "Executive Offices",
                                "Executive Search Services",
                                "Fabricated Metal Products",
                                "Facilities Services",
                                "Family Planning Centers",
                                "Farming",
                                "Farming; Ranching; Forestry",
                                "Fashion Accessories Manufacturing",
                                "Financial Services",
                                "Fine Art",
                                "Fine Arts Schools",
                                "Fire Protection",
                                "Fisheries",
                                "Fishery",
                                "Flight Training",
                                "Food and Beverage Manufacturing",
                                "Food and Beverage Retail",
                                "Food and Beverages",
                                "Food and Beverage Services",
                                "Food Production",
                                "Footwear and Leather Goods Repair",
                                "Footwear Manufacturing",
                                "Forestry and Logging",
                                "Fossil Fuel Electric Power Generation",
                                "Freight and Package Transportation",
                                "Fruit and Vegetable Preserves Manufacturing",
                                "Fuel Cell Manufacturing",
                                "Fundraising",
                                "Funds and Trusts",
                                "Funeral Services",
                                "Furniture",
                                "Furniture and Home Furnishings Manufacturing",
                                "Gambling and Casinos",
                                "Gambling Facilities and Casinos",
                                "Geothermal Electric Power Generation",
                                "Glass; Ceramics and Concrete",
                                "Glass; Ceramics and Concrete Manufacturing",
                                "Glass Product Manufacturing",
                                "Golf Courses and Country Clubs",
                                "Government Administration",
                                "Government Relations",
                                "Government Relations Services",
                                "Graphic Design",
                                "Ground Passenger Transportation",
                                "Health and Human Services",
                                "Health; Wellness and Fitness",
                                "Higher Education",
                                "Highway; Street; and Bridge Construction",
                                "Historical Sites",
                                "Holding Companies",
                                "Home Health Care Services",
                                "Horticulture",
                                "Hospital and Health Care",
                                "Hospitality",
                                "Hospitals",
                                "Hospitals and Health Care",
                                "Hotels and Motels",
                                "Household and Institutional Furniture Manufacturing",
                                "Household Appliance Manufacturing",
                                "Household Services",
                                "Housing and Community Development",
                                "Housing Programs",
                                "Human Resources",
                                "Human Resources Services",
                                "HVAC and Refrigeration Equipment Manufacturing",
                                "Hydroelectric Power Generation",
                                "Import and Export",
                                "Individual and Family Services",
                                "Industrial Automation",
                                "Industrial Machinery Manufacturing",
                                "Industry Associations",
                                "Information Services",
                                "Information Technology and Services",
                                "Insurance",
                                "Insurance Agencies and Brokerages",
                                "Insurance and Employee Benefit Funds",
                                "Insurance Carriers",
                                "Interior Design",
                                "International Affairs",
                                "International Trade and Development",
                                "Internet",
                                "Internet Marketplace Platforms",
                                "Internet News",
                                "Internet Publishing",
                                "Interurban and Rural Bus Services",
                                "Investment Advice",
                                "Investment Banking",
                                "Investment Management",
                                "IT Services and IT Consulting",
                                "IT System Custom Software Development",
                                "IT System Data Services",
                                "IT System Design Services",
                                "IT System Installation and Disposal",
                                "IT System Operations and Maintenance",
                                "IT System Testing and Evaluation",
                                "IT System Training and Support",
                                "Janitorial Services",
                                "Judiciary",
                                "Landscaping Services",
                                "Language Schools",
                                "Laundry and Drycleaning Services",
                                "Law Enforcement",
                                "Law Practice",
                                "Leasing Non-residential Real Estate",
                                "Leasing Residential Real Estate",
                                "Leather Product Manufacturing",
                                "Legal Services",
                                "Legislative Offices",
                                "Leisure; Travel and Tourism",
                                "Libraries",
                                "Lime and Gypsum Products Manufacturing",
                                "Loan Brokers",
                                "Logistics and Supply Chain",
                                "Luxury Goods and Jewelry",
                                "Machinery",
                                "Machinery Manufacturing",
                                "Magnetic and Optical Media Manufacturing",
                                "Management Consulting",
                                "Manufacturing",
                                "Maritime",
                                "Maritime Transportation",
                                "Marketing and Advertising",
                                "Marketing Services",
                                "Market Research",
                                "Mattress and Blinds Manufacturing",
                                "Measuring and Control Instrument Manufacturing",
                                "Meat Products Manufacturing",
                                "Mechanical Or Industrial Engineering",
                                "Media and Telecommunications",
                                "Media Production",
                                "Medical and Diagnostic Laboratories",
                                "Medical Device",
                                "Medical Equipment Manufacturing",
                                "Medical Practice",
                                "Medical Practices",
                                "Mental Health Care",
                                "Metal Ore Mining",
                                "Metal Treatments",
                                "Metal Valve; Ball; and Roller Manufacturing",
                                "Metalworking Machinery Manufacturing",
                                "Military",
                                "Military and International Affairs",
                                "Mining",
                                "Mining and Metals",
                                "Mobile Computing Software Products",
                                "Mobile Food Services",
                                "Mobile Games",
                                "Mobile Gaming Apps",
                                "Motion Pictures and Film",
                                "Motor Vehicle Manufacturing",
                                "Motor Vehicle Parts Manufacturing",
                                "Movies and Sound Recording",
                                "Movies; Videos; and Sound",
                                "Museums",
                                "Museums and Institutions",
                                "Museums; Historical Sites; and Zoos",
                                "Music",
                                "Musicians",
                                "Nanotechnology",
                                "Nanotechnology Research",
                                "Natural Gas Distribution",
                                "Natural Gas Extraction",
                                "Newspaper Publishing",
                                "Newspapers",
                                "Nonmetallic Mineral Mining",
                                "Non-profit Organization Management",
                                "Non-profit Organizations",
                                "Nonresidential Building Construction",
                                "Nuclear Electric Power Generation",
                                "Nursing Homes and Residential Care Facilities",
                                "Office Administration",
                                "Office Furniture and Fixtures Manufacturing",
                                "Oil and Coal Product Manufacturing",
                                "Oil and Energy",
                                "Oil and Gas",
                                "Oil Extraction",
                                "Oil; Gas; and Mining",
                                "Online and Mail Order Retail",
                                "Online Audio and Video Media",
                                "Online Media",
                                "Operations Consulting",
                                "Optometrists",
                                "Other",
                                "Outpatient Care Centers",
[...]
